.App .container {
  width: 750px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/084/946/original/pexels-benjamin-suter-2361997.jpg?1686308602");
  background-size: cover;
  border: 2px solid #8fadae;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.2);
}
