.Weather {
  padding: 20px 30px;
}
form .btn {
  background-color: #dd7977;
  color: white;
}
form .btn:hover {
  background-color: #b55357;
  color: white;
}
.current-location {
  color: white;
  background-color: #b55357;
}
.current-location:hover {
  background-color: #dd7977;
}
h1 {
  font-family: "Merriweather", serif;
}
li {
  list-style: none;
  font-size: 20px;
  margin-left: -30px;
}

.icon {
  position: relative;
  bottom: 35px;
  margin-left: -60px;
}
.temperature {
  position: relative;
  bottom: 30px;
  font-family: "Merriweather", serif;
  font-size: 50px;
  margin-left: -30px;
}
.units {
  position: relative;
  top: -50px;
  font-weight: 700;
  font-family: "Merriweather", serif;
}
.conditions {
  font-family: "Merriweather", serif;
  font-size: 20px;
}
